<br />

<section ng-repeat="friend in friendList">
    <div class="row">

        <div class="col-sm-4">
            <img src="{{friend.photo}}" width="100" height="100" id="profilephoto">
        </div>

        <div class="col-sm-4">
            name: {{friend.name}} <br />
            e-mail: {{friend.email}} <br />

            <a ng-href="#!/profile/{{friend.uid}}">View Profile</a>
        </div>

        <div class="col-sm-4">
        Connection
        </div>

    </div><br /><br />
</section>

<section ng-repeat="stranger in notFriendList">
    <div class="row">

        <div class="col-sm-4">
            <img src="{{stranger.photo}}" width="100" height="100" id="profilephoto">
        </div>

        <div class="col-sm-4">
            name: {{stranger.name}} <br />

            <a ng-href="#!/profile/{{stranger.uid}}">View Profile</a>
        </div>

        <div class="col-sm-4">
        Not A Connection
        </div>

    </div><br /><br />
</section> 
