
<br />

<div class="row">

    <div class="col-sm-4">


    	<img src="{{profile.photo}}" width="200" height="200" class="profilephoto">

    </div>

    <div class="col-sm-4">

        <form ng-submit="saveProfile()">
            <!--  rather not have it save on the fly
            name: <input ng-model="profile.name" ng-change="profile.$save()" type="text" /> <br />
            e-mail: <input ng-model="profile.email" ng-change="email.$save()" type="text" /> -->

            name: <input ng-model="profile.name" type="text" /> <br />
            e-mail: <input ng-model="profile.email" type="text" /> <br />
            
            <button type="submit">Save Changes</button>

        </form>

    </div>

    <div class="col-sm-4">
    	Editing Mode
    </div>

</div>

<br><br>

<div class="row">

	<div class="col-sm-12">

	</div>

</div>