
<br />

<div class="row">

    <div class="col-sm-4">


    	<img src="{{profile.photo}}" width="200" height="200" class="profilephoto">

    </div>

    <div class="col-sm-4">

        name: <input ng-model="profile.name" ng-change="profile.$save()" type="text" /> <br />
        e-mail: <input ng-model="profile.email" ng-change="email.$save()" type="text" />

    </div>

    <div class="col-sm-4">
    	Editing Mode
    </div>

</div>

<br><br>

<div class="row">

	<div class="col-sm-12">

	</div>

</div>