<br />

<div class="row">
	<div class="offset-sm-1"></div>
	<div class="col-sm-4" ng-show="myOwnProfile">

	<form class="input-group">
		<input class="form-control" id="image-upload" type="file" accept="image/*">
	</form>

	</div>
</div>

<br />

<div class="row">

	<div class="offset-sm-1"></div>
	<div class="col-sm-10 bg-faded list-group form-control">

		<div class="row msg-update-boxes" style="margin:5px;">

			<div class="col-sm-4" ng-repeat="image in images">
				<img ng-src="{{image.photo}}" height="200" width="200" onclick="window.open(this.src)"> <br />
				<a ng-show="myOwnProfile" href="" ng-click="images.$remove(image)">delete image</a> <br /> <br />
			</div>
	    </div>

	</div>

</div>