 <br /> 

<div class="row">
    <div class="col-sm-6">
        <div class="form-control msg-update-boxes bg-faded">
 
 			<b>CONNECT</b> - Login Using Your Google Account: <br /><br />
 			<div class="offset-sm-3"></div>
 			
 			<div class="col-sm-3">
				<button class="btn btn-secondary btn-sm bg-faded" ng-click="loginGoogle()">Login Here</button>
			</div><br /><br />

        </div>
    </div>
</div>

<br /><br />

<div class="row">
	<div class="offset-sm-4"></div>
    <div class="col-sm-8">
        <div class="form-control msg-update-boxes bg-faded">
 			<b>CONNECT - WHAT IS IT?</b>

 			<br /><br />

 			<p class="body-font-color paddingleft">
 				'Connect' is a social-media application with many common 'social network' features, such as:

 				<ul>
 					<li>- Ability to Add Connections</li>
 					<li>- Post Status Updates and Write on Your Connection's Walls</li>
 					<li>- Add a Profile Photo & upload your favorite Photos</li>
 					<li>- 'Real-Time' Chatting & Notifications</li>
 				</ul>

 			</p>

        </div>
    </div>
</div>

