 <br /> 

<div class="row">
    <div class="col-sm-6">
        <div class="form-control msg-update-boxes bg-faded">
 
 			<b>CONNECT</b> - Login with Google: <br /><br />
 			<div class="offset-sm-3"></div>
 			
 			<div class="col-sm-3">
				<button class="btn btn-secondary btn-sm bg-faded" ng-click="loginGoogle()">Login Here</button>
			</div><br /><br />
            
            For more on Google Sign-In integration <a href="https://developers.google.com/identity/sign-in/web/" target="_blank">click here</a>.
            
        </div>
    </div>
</div>

<br /><br />

<div class="row">
	<div class="col-sm-4">
         <div class="form-control msg-update-boxes bg-faded">    
         <b> Screenshots (Connect in Action) </b>

         <br /><br />

         <ul>
            <li><a href="screenshots/profileview.png" target="_blank">- User Profile View</a><li/>
            <li><a href="screenshots/photos-and-notification-of-request.png" target="_blank">- Photo Album & Real Time Notifications</a></li>
            <li><a href="screenshots/connected-profile.png" target="_blank">- Connection/Friend Profile </a></li>
            <li><a href="screenshots/connected-list.png" target="_blank">- Connections/Friends List</a></li>
            <li><a href="screenshots/connection-requested.png" target="_blank">- Request Connection/No Confirmation</a></li>
        </ul>

        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-control msg-update-boxes bg-faded">
 			<b>CONNECT - SOCIAL NETWORK - WHAT IS IT?</b>

 			<br /><br />

 			<p class="body-font-color paddingleft">
 				Connect is a social with many common 'social network' features, such as:

 				<ul>
 					<li>- Ability to Add Connections</li>
 					<li>- Post and Send Messages </li>
 					<li>- Share Photos </li>
 					<li>- Real-Time Notifications</li>
 				</ul>

 			</p>

        </div>
    </div>
</div>

<br /><br />

<div class="row">
    <div class="offset-sm-4"></div>
    <div class="col-sm-8">
        <div class="form-control msg-update-boxes bg-faded">
            <b>GitHub and Source Code:</b>

            <br /><br />

            <p class="body-font-color paddingleft">
                1. <a href="https://github.com/jnelsontn" target="_blank">My Github Repository</a> <br />
                2. <a href="https://github.com/jnelsontn/jnelsontn.github.io" target="_blank">Connect's Source Code</a>

            </p>

        </div>
    </div>
</div>
