<!-- Static NavBar -->
<nav class="navbar navbar-nav navbar-light navbar-toggleable-xl fixed-top bg-faded" ng-controller="NavCtrl">

    <a class="navbar-brand" style="padding-left: 5px;">CONNECT</a>

    <ul class="navbar-nav mr-auto" ng-show="isLoggedIn">

        <li class="nav-item">
            <a class="nav-link" href="#!/profile/{{userLoggedInProfile}}">Profile</a>
         </li>

        <li class="nav-item">
            <a class="nav-link" href="#!/profile/{{userLoggedInProfile}}/images"> My Photos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#!/profile/{{userLoggedInProfile}}/notifications"> Notifications ({{notificationNumber}})</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#!/allusers">All Users</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#!/logout">Logout</a>
         </li>

         <li class="nav-link" ng-repeat="notice in notifications">
            | New Notification: <a  ng-href="#!/profile/{{notice.uidFrom}}">{{notice.content}}</a>
            <a ng-href="" ng-click="notifications.$remove(notice)">(x)</a>
         </li>
    </ul>

    <span class="navbar-text" ng-show="isLoggedIn">Users Online: <b>{{usersOnline}}</b></span>
    <toast ng-show="isLoggedIn" ng-repeat="notice in notifications"></toast>
    
</nav>