<br />
<div class="row">
    <div class="col-lg-12">
        <ul class="list-group form-control msg-update-boxes bg-faded">
            <b>Recent Notifications:</b> <br />
            <li ng-repeat="notice in notifications | orderBy:'timestamp':true" ng-show="myOwnProfile">
                <p class="paddingleft">
                    <b>{{notice.timestamp}}:</b>
                    {{notice.content}}
                    <a href="" ng-click="notifications.$remove(notice)">(delete notification)</a> <br />
                    <a ng-href="#!/profile/{{notice.uidFrom}}">View User's Profile.</a>
                </p>
            <br />
            </li>
            <p ng-show="!notifications.length" ng-show="myOwnProfile">No Recent Updates</p>
        </ul>
    </div>
</div>

<br /><br /> <!-- keep these -->