
<br />

<div class="row">

    <div class="col-sm-4">


        <img src="{{profile.photo}}" width="200" height="200" class="profilephoto">

    </div>

    <div class="col-sm-4">

        <!-- could be used for saving to database once we stop overwriting on startup -->
        <!-- 
        we'll use classes to show and hide when we wanna edit profile
        <input ng-model="profile.name" ng-change="profile.$save()" type="text" /> <br /> -->

        name: {{profile.name}} <br />
        e-mail: {{profile.email}}

    </div>

    <div class="col-sm-4">
        Edit Profile
    </div>

</div>

<br><br>

<div class="row">

    <div class="col-sm-12">

      <ul class="chatbox">
            <li ng-repeat="message in messages">{{ message.from }}: {{ message.content }}</li>
        </ul>

        <form ng-submit="addMessage()">
            <input type="text" ng-model="message">
            <input type="submit" value="Add Message">
        </form>
        
    </div>

</div>