
<br />

<div class="row">

    <div class="col-sm-4">

    <!-- we need a null image here + a check if they upload one -->
        <img src="{{profile.photo}}" width="200" height="200" id="profilephoto">
       <!-- <img width="200" height="200" id="profilephoto"> -->

    </div>

    <div class="col-sm-4">

        name: {{profile.name}} <br />
        <section ng-if="AreWeFriends === true || myOwnProfile === true">
            e-mail: {{profile.email}} <br />
            description: {{profile.description}} <br /><br />
            <a href="#!/profile/{{profile.$id}}/images">View My Images</a>

        </section>

    </div>

    <div class="col-sm-4">

    
        <button ng-if="myOwnProfile == false && AreWeFriends == false" class="btn btn-default" ng-click="connect($id)">{{connectReq}}</button> 
        <a ng-if="myOwnProfile === true" href="#!/profile/{{profile.$id}}/edit">Edit Profile</a>
        <div ng-if="AreWeFriends === true">We are friends</div>

    </div>

    <div class="col-sm-4">
        
    </div>

</div>

<br><br>

<div class="row">

    <div class="col-sm-12">

      <ul class="chatbox">
            <li ng-repeat="message in messages"><b>{{message.timestamp}} - {{ message.from }}:</b> {{ message.content }}
                <a href="" ng-click="messages.$remove(message)">x</a>
            </li>
        </ul>

        <form ng-submit="addMessage()">
            <input type="text" ng-model="message">
            <input type="submit" value="Add Message">
        </form>
        
    </div>

</div>