
<br />

<div class="row">
    <div class="offset-md-3"></div>
    
    <div class="col-md-3">
        <img src="{{profile.photo}}" width="200" height="200" id="profilephoto" class="rounded"> <br />
        <a ng-show="myOwnProfile" href="#!/profile/{{profile.uid}}/edit">Edit Profile</a>
    </div>

    <div class="col-md-3">

        {{profile.name}} <br />

        <section ng-show="myOwnProfile || AreWeFriends">
        {{profile.email}} <br /> <br />

        About: <br />
        {{profile.description}} <br /> <br />

        <div ng-show="AreWeFriends && !myOwnProfile">
        Status:<br />
            <p ng-show="isOnline" class="online">● {{profile.name}} is online now.</p>
            <p ng-show="!isOnline" class="offline"> ● {{profile.name}} is offline.</p>
        </div>

        <a href="#!/profile/{{profile.uid}}/images">View Photos</a>

        </section>

        <button ng-show="!myOwnProfile && !AreWeFriends" ng-hide="(myOwnProfile && !respondReq) || respondReq" class="btn btn-primary" ng-click="button_clicked || connect(uid)" ng-disabled="button_clicked">{{connectReqText}}</button>

        <button ng-show="respondReq" class="btn btn-primary" ng-click="respondToRequest(uid)">{{respondReqText}}</button>

        <!-- <div ng-show="AreWeFriends">We're Connected!</div> -->

    </div>


</div>

<br />

<div class="row">

    <div class="offset-md-3"></div><div class="col-md-6"> <!-- start bootstrap row, centered 6col -->

    <section ng-show="myOwnProfile || AreWeFriends">

        <!-- Start Status Updates -->
            <section ng-show="myOwnProfile">
                <form class="input-group" ng-submit="userUpdateStatus()">
                    <input type="text" class="form-control" placeholder="Update Your Status" ng-model="update">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Update Status</button>
                    </span>
                </form>
            </section>

            <br />

            <ul class="list-group form-control msg-update-boxes bg-faded">
                <b>Status Updates:</b> <br />
                <li ng-repeat="update in updates | orderBy:'timestamp':true">
                    <b>{{update.timestamp}}:</b>
                    <a ng-show="myOwnProfile" href="" ng-click="updates.$remove(update)">(remove)</a>
                    <p>{{ update.content }}</p>
                    <br />
                </li>
                <p ng-show="!updates.length">No Recent Updates</p>
            </ul>
        <!-- End Status Updates --> 
            <br />

        <!-- Start Messages -->
            <form class="input-group" ng-submit="addMessage()">
                <input type="text" class="form-control" placeholder="Add a Message" ng-model="message">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Send Message</button>
                </span>
            </form>

            <br />

            <ul class="list-group form-control msg-update-boxes bg-faded">
                <b>Messages:</b> <br />
                <li ng-repeat="message in messages | orderBy:'timestamp':true">
                    <b>{{message.timestamp}}. {{ message.from }} wrote:</b>
                    <a ng-show="myOwnProfile" href="" ng-click="messages.$remove(message)">(remove)</a>
                    <p>{{ message.content }}</p>
                    <br />
                </li>
                <p ng-show="!messages.length">No Messages</p>
            </ul>
        <!-- End Messages -->

    </section> <!-- end section showing to either a) ones own profile or b) friends -->

    </div> <!-- end div col -->
</div> <!-- end row -->
